/*
  Color Scheme
  https://coolors.co/333333-48e5c2-fcfaf9-f3d3bd-5e5e5e
*/

* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-weight: normal;
  font-stretch: extra-expanded;
}

h1 { font-size: 2rem; }
h2 { font-size: 2.1rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.7rem; }
h5 { font-size: 1.6rem; }
h6 { font-size: 1.5rem; }

#nav {
  display: flex;
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: height 0.4s ease-in-out 0s,
              background-color 0.4s ease-in-out 0s,
              box-shadow 0.4s ease-in-out 0s;
  position: fixed;
  color: white;
  z-index: 10;
}

#nav ul {
  display: flex;
  list-style-type: none;
  padding: 0 20px;
}

#nav ul li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease-in-out 0s;
  padding: 20px;
}

#nav #nav-logo {
  font-weight:  bold;
  font-size: 1.4rem;
}

#footer {
  display: flex;
}

#footer .footer-sub {
  font-size: 1.1rem;
}

#footer .footer-col {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#footer .footer-col ul {
  color: black;
  font-size: 1.2rem;
  list-style-type: none;
  margin-right: 30px;
  width: 50%;
  margin-top: 4px;
}

#footer .footer-col ul li > a {
  color: inherit;
  text-decoration: none;
  padding: 8px 12px;
  padding-left: 0;
}

#footer .footer-menu {
  flex-direction: row;
  display: flex;
  padding-top: 4px;
}

.section {
  padding: 30px 15%;
}

.line-spacing {
  border: 2px solid #aeafb2;
  border-radius: 2px;
  margin: 10px auto;
}
